<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lysty.db.DBMapper">
	<select id="getSongId" parameterType="Song" resultType="long">
		select id
		from songs where path=#{filepath};
	</select>

	<select id="getSong" parameterType="long" resultType="Song">
		select *
		from songs where id=#{id};
	</select>

	<select id="getPlayHistory" parameterType="Date" resultType="HistoryStatRecord">
		select cast(t1.songid or t2.songid as long) as songId,t2.completed_cnt
		as completedCount,t1.uncompleted_cnt as uncompletedCount from
		(select
		songid, count(*) as uncompleted_cnt from history where
		is_completed=false and play_time > #{time} group by songid) as t1
		left
		join
		(select songid, count(*) as completed_cnt from history where
		is_completed=true and play_time > #{time} group by songid) as t2
		on
		t1.songid=t2.songid;
	</select>


	<select id="getAttributes" parameterType="Song" resultType="map">
		select attribute,value from attribs where songid=#{id};
	</select>

	<select id="getLastDBScriptNum" parameterType="Integer"
		resultType="Integer">
		select value from
		config
		where name='last_run_script';
	</select>

	<insert id="setLastDBScriptNum" parameterType="Integer">
		merge into config
		(name,value) key(name) values ('last_run_script',#{last});
	</insert>

	<insert id="insertSong" parameterType="Song">
		insert into songs
		(name,path) values (#{name},#{filepath});
	</insert>

	<insert id="insertHistoryEntry" parameterType="HistoryEntry">
		insert into history
		(songid,play_time,is_completed) values
		(#{songId},#{playTime},#{isCompleted});
	</insert>

	<select id="insertAttribute" parameterType="Map">
		insert into attribs
		(songid,attribute,value) values (#{0},#{1},#{2});
	</select>

	<select id="setAttribute" parameterType="Map">
		merge into attribs
		(songid,attribute,value) key(songid,attribute) values
		(#{0},#{1},#{2});
	</select>

	<select id="setFolderIndexTimestamp" parameterType="Map">
		merge into
		folder_index_timestamps
		(folder,lastindextime) key(folder) values
		(#{0},#{1});
	</select>

	<select id="getFolderIndexMap" resultType="Map">
		select * from
		folder_index_timestamps
	</select>

	<select id="getExtractorTimestampMap" resultType="Map">
		select
		name,addedtime from
		extractors
	</select>

	<select id="getSongs" resultType="Map" parameterType="String">
		select
		id,name,path,attribute,value from
		(select * from songs) as a
		join
		attribs on a.id=attribs.songid;
	</select>

	<select id="getExtractorTimestamp" parameterType="String"
		resultType="long">
		select addedtime from extractors where name=#{name};
	</select>

	<insert id="insertExtractorTimestamp" parameterType="Map">
		insert into
		extractors
		(name,addedtime) values (#{0},#{1});
	</insert>

</mapper>

